--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompanyAdditionalNames env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">100055268</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string"></String_4></wsdl:fetchCompanyAdditionalNames></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompanyAdditionalNames\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:fetchCompanyAdditionalNamesResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:fetchCompanyAdditionalNamesResponse><ns0:ArrayOfstring id=\"ID1\" xsi:type=\"enc:Array\" enc:arrayType=\"xsd:string[8]\"><item xsi:type=\"xsd:string\">A/S Kalundborg Folkeblad</item><item xsi:type=\"xsd:string\">Aktieselskabet Holb\xC3\xA6k Amts Venstreblad</item><item xsi:type=\"xsd:string\">A/S Trykkeriet Nordvest</item><item xsi:type=\"xsd:string\">A/S Trykkeriet Nordvestsj\xC3\xA6lland</item><item xsi:type=\"xsd:string\">Havision A/S</item><item xsi:type=\"xsd:string\">Nordvestsj\xC3\xA6llands Media Selskab A/S</item><item xsi:type=\"xsd:string\">Radio Holb\xC3\xA6k A/S</item><item xsi:type=\"xsd:string\">Tv Holb\xC3\xA6k A/S</item></ns0:ArrayOfstring></env:Body></env:Envelope>"
  recorded_at: Tue, 15 May 2012 10:43:52 GMT
