--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:search env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><Question_1 xsi:type="nne:Question" xmlns:nne="http://com.stibo.net/nne/3.1/Types/NNE"><name xsi:type="xsd:string">Dansk Supermarked</name></Question_1><int_2 xsi:type="xsd:int">10</int_2><int_3 xsi:type="xsd:int">1</int_3><int_4 xsi:type="xsd:int">0</int_4><String_5 xsi:type="xsd:string"></String_5></wsdl:search></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"search\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:searchResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:searchResponse><ns0:Answer id=\"ID1\" xsi:type=\"ns0:Answer\"><companyBasic href=\"#ID2\"/><errorMessage xsi:type=\"xsd:string\" xsi:nil=\"1\"/><window href=\"#ID3\"/></ns0:Answer><ns0:ArrayOfCompanyBasic id=\"ID2\" xsi:type=\"enc:Array\" enc:arrayType=\"ns0:CompanyBasic[10]\"><item href=\"#ID4\"/><item href=\"#ID5\"/><item href=\"#ID6\"/><item href=\"#ID7\"/><item href=\"#ID8\"/><item href=\"#ID9\"/><item href=\"#ID10\"/><item href=\"#ID11\"/><item href=\"#ID12\"/><item href=\"#ID13\"/></ns0:ArrayOfCompanyBasic><ns0:Window id=\"ID3\" xsi:type=\"ns0:Window\"><currentPage xsi:type=\"xsd:int\">1</currentPage><from xsi:type=\"xsd:int\">1</from><to xsi:type=\"xsd:int\">10</to><total xsi:type=\"xsd:int\">42</total><totalPages xsi:type=\"xsd:int\">5</totalPages></ns0:Window><ns0:CompanyBasic id=\"ID4\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1004977912</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">162771734</companyId><companyType xsi:type=\"xsd:string\">VI</companyType><cvrNo xsi:type=\"xsd:int\">21503886</cvrNo><district xsi:type=\"xsd:string\">H\xC3\xB8jbjerg</district><fax xsi:type=\"xsd:string\" xsi:nil=\"1\"/><officialName xsi:type=\"xsd:string\">D.S. Forsikring A/S</officialName><phone xsi:type=\"xsd:string\" xsi:nil=\"1\"/><street xsi:type=\"xsd:string\">Bj\xC3\xB8dstrupvej 18</street><tdcId xsi:type=\"xsd:int\">100463693</tdcId><zipCode xsi:type=\"xsd:int\">8270</zipCode></ns0:CompanyBasic><ns0:CompanyBasic id=\"ID5\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1003048503</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">3958778</companyId><companyType xsi:type=\"xsd:string\">PL</companyType><cvrNo xsi:type=\"xsd:int\">35954716</cvrNo><district xsi:type=\"xsd:string\">H\xC3\xB8jbjerg</district><fax xsi:type=\"xsd:string\" xsi:nil=\"1\"/><officialName xsi:type=\"xsd:string\">Dans[...]
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompanyTrade env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">100033375</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string"></String_4></wsdl:fetchCompanyTrade></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompanyTrade\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:fetchCompanyTradeResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:fetchCompanyTradeResponse><ns0:ArrayOfTrade id=\"ID1\" xsi:type=\"enc:Array\" enc:arrayType=\"ns0:Trade[4]\"><item href=\"#ID2\"/><item href=\"#ID3\"/><item href=\"#ID4\"/><item href=\"#ID5\"/></ns0:ArrayOfTrade><ns0:Trade id=\"ID2\" xsi:type=\"ns0:Trade\"><primary xsi:type=\"xsd:boolean\">true</primary><trade xsi:type=\"xsd:string\">Anden detailhandel fra ikke-specialiserede forretninger</trade><tradeCode xsi:type=\"xsd:string\">471900</tradeCode></ns0:Trade><ns0:Trade id=\"ID3\" xsi:type=\"ns0:Trade\"><primary xsi:type=\"xsd:boolean\">false</primary><trade xsi:type=\"xsd:string\">Discountforretninger</trade><tradeCode xsi:type=\"xsd:string\">471130</tradeCode></ns0:Trade><ns0:Trade id=\"ID4\" xsi:type=\"ns0:Trade\"><primary xsi:type=\"xsd:boolean\">false</primary><trade xsi:type=\"xsd:string\">Ikke-specialiseret engroshandel med f\xC3\xB8de-, drikke- og tobaksvarer</trade><tradeCode xsi:type=\"xsd:string\">463900</tradeCode></ns0:Trade><ns0:Trade id=\"ID5\" xsi:type=\"ns0:Trade\"><primary xsi:type=\"xsd:boolean\">false</primary><trade xsi:type=\"xsd:string\">T\xC3\xB8jforretninger</trade><tradeCode xsi:type=\"xsd:string\">477110</tradeCode></ns0:Trade></env:Body></env:Envelope>"
  recorded_at: Tue, 15 May 2012 10:43:59 GMT
