--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:search env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><Question_1 xsi:type="nne:Question" xmlns:nne="http://com.stibo.net/nne/3.1/Types/NNE"><name xsi:type="xsd:string">Etech</name></Question_1><int_2 xsi:type="xsd:int">10</int_2><int_3 xsi:type="xsd:int">1</int_3><int_4 xsi:type="xsd:int">0</int_4><String_5 xsi:type="xsd:string"></String_5></wsdl:search></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"search\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://com.stibo.net/nne/3.1/Types/NNE" env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><env:Body><ans1:searchResponse xmlns:ans1="http://com.stibo.net/nne/3.1/NNE"><result href="#ID1"/></ans1:searchResponse><ns0:Answer id="ID1" xsi:type="ns0:Answer"><companyBasic href="#ID2"/><errorMessage xsi:type="xsd:string" xsi:nil="1"/><window href="#ID3"/></ns0:Answer><ns0:ArrayOfCompanyBasic id="ID2" xsi:type="enc:Array" enc:arrayType="ns0:CompanyBasic[1]"><item href="#ID4"/></ns0:ArrayOfCompanyBasic><ns0:Window id="ID3" xsi:type="ns0:Window"><currentPage xsi:type="xsd:int">1</currentPage><from xsi:type="xsd:int">1</from><to xsi:type="xsd:int">1</to><total xsi:type="xsd:int">1</total><totalPages xsi:type="xsd:int">1</totalPages></ns0:Window><ns0:CompanyBasic id="ID4" xsi:type="ns0:CompanyBasic"><PNo xsi:type="xsd:int">1016509597</PNo><adProtection xsi:type="xsd:int">0</adProtection><companyId xsi:type="xsd:int">163098226</companyId><companyType xsi:type="xsd:string">VI</companyType><cvrNo xsi:type="xsd:int">33365535</cvrNo><district xsi:type="xsd:string">Frederiksberg C</district><fax xsi:type="xsd:string" xsi:nil="1"/><officialName xsi:type="xsd:string">Etech K/S</officialName><phone xsi:type="xsd:string" xsi:nil="1"/><street xsi:type="xsd:string">Frederiksberg Alle 62 2 tv</street><tdcId xsi:type="xsd:int">202747261</tdcId><zipCode xsi:type="xsd:int">1820</zipCode></ns0:CompanyBasic></env:Body></env:Envelope>
  recorded_at: Tue, 15 May 2012 10:44:05 GMT
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompanyFinance env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">202747261</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string"></String_4></wsdl:fetchCompanyFinance></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompanyFinance\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://com.stibo.net/nne/3.1/Types/NNE" env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><env:Body><ans1:fetchCompanyFinanceResponse xmlns:ans1="http://com.stibo.net/nne/3.1/NNE"><result href="#ID1"/></ans1:fetchCompanyFinanceResponse><ns0:ArrayOfFinance id="ID1" xsi:type="enc:Array" enc:arrayType="ns0:Finance[1]"><item href="#ID2"/></ns0:ArrayOfFinance><ns0:Finance id="ID2" xsi:type="ns0:Finance"><accountingDate xsi:type="xsd:string">2010-12-31</accountingDate><assets xsi:type="xsd:float">8809.0</assets><availableFunds xsi:type="xsd:float">0.0</availableFunds><availableFundsRatio xsi:type="xsd:float">391.83</availableFundsRatio><balance xsi:type="xsd:float">8809.0</balance><capacityRatio xsi:type="xsd:float">-10.57</capacityRatio><contributionRatio xsi:type="xsd:float">0.0</contributionRatio><creditRating xsi:type="xsd:string" xsi:nil="1"/><currentAssets xsi:type="xsd:float">6046.0</currentAssets><depreciations xsi:type="xsd:float">-307.0</depreciations><fixedAssets xsi:type="xsd:float">2763.0</fixedAssets><fixedCost xsi:type="xsd:float">322.0</fixedCost><grossProfit xsi:type="xsd:float">-3402.0</grossProfit><incomeBeforeIncomeTax xsi:type="xsd:float">-3724.0</incomeBeforeIncomeTax><linkPDF xsi:type="xsd:string">http://www.nnerhverv.dk/nne-perl/regnskab.pl?indid=163098226&amp;udtid=2011-06-02&amp;req=1841993994</linkPDF><longTermedLiability xsi:type="xsd:float">5070.0</longTermedLiability><lotsAndSites xsi:type="xsd:float">0.0</lotsAndSites><netOutcome xsi:type="xsd:float">-3724.0</netOutcome><numberOfEmployees xsi:type="xsd:int">0</numberOfEmployees><placings xsi:type="xsd:float">0.0</placings><profit xsi:type="xsd:float">0.0</profit><profitForTheYear xsi:type="xsd:float">-3724.0</profitForTheYear><profitRatio xsi:type="xsd:float">0.0</profitRatio><publishedDate xsi:type="xsd:string">2011-06-02</publishedDate><returnOnAssets xsi:type="xsd:float">0.0</returnOnAssets><shareHoldersFundsOfInterest xsi:type="xsd:float">0.0</shareHoldersFundsOfInterest><shareholdersFunds xsi:type="xsd:float">2196.0</shareholdersFunds><shortTermedLiability xsi:type="xsd:float">1543.0</shortTermedLiability><solvencyRatio xsi:type="xsd:float">24.93</solvencyRatio><stock xsi:type="xsd:float">0.0</stock><tradeDebitors xsi:type="xsd:float">18.0</tradeDebitors><turnover xsi:type="xsd:float">0.0</turnover><year xsi:type="xsd:string">2010</year></ns0:Finance></env:Body></env:Envelope>
  recorded_at: Tue, 15 May 2012 10:44:09 GMT
