--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompany env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">202541543</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string">some key</String_4></wsdl:fetchCompany></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompany\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:fetchCompanyResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:fetchCompanyResponse><ns0:Company id=\"ID1\" xsi:type=\"ns0:Company\"><PNo xsi:type=\"xsd:int\">1015150161</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><bankConnection xsi:type=\"xsd:string\" xsi:nil=\"1\"/><companyForm xsi:type=\"xsd:string\">Enkeltmandsvirksomhed</companyForm><companyId xsi:type=\"xsd:int\">4218680</companyId><companyType xsi:type=\"xsd:string\">PL</companyType><cvrNo xsi:type=\"xsd:int\">31999529</cvrNo><district xsi:type=\"xsd:string\">K\xC3\xB8benhavn NV</district><dsSizeCode xsi:type=\"xsd:string\">B</dsSizeCode><dsSizeCodeBranch xsi:type=\"xsd:string\">B</dsSizeCodeBranch><email xsi:type=\"xsd:string\">jacob@incremental.dk</email><fax xsi:type=\"xsd:string\" xsi:nil=\"1\"/><foundedYear xsi:type=\"xsd:string\">2009</foundedYear><geography href=\"#ID2\"/><homePage xsi:type=\"xsd:string\" xsi:nil=\"1\"/><legalEntity xsi:type=\"xsd:int\">1</legalEntity><linkDebtor xsi:type=\"xsd:string\">https://www.registret.dk/bestil_TDC?cvr=31999529</linkDebtor><linkGroupHierarchy xsi:type=\"xsd:string\">http://www.nnerhverv.dk/jtreetable/chieraki.asp?ind_id=4218680&amp;ind_type=PL&amp;cvr=31999529&amp;name=Incremental+V%2F+Jacob+Atzen&amp;status=0&amp;idx=1&amp;ack=some key</linkGroupHierarchy><linkMap xsi:type=\"xsd:string\">http://www.navneognumre.dk/NNKort/default.asp?H=H*101*984*47&amp;N=&amp;G=Bygmestervej+47+3+tv&amp;Z=2400&amp;B=K%F8benhavn+NV&amp;T=26256502&amp;R=NNE-WS</linkMap><linkNews xsi:type=\"xsd:string\">http://www.nnerhverv.dk/Artikler.asp?cvr=31999529&amp;navn=Incremental+V%2F+Jacob+Atzen&amp;vejnavn=Bygmestervej+47+3+tv&amp;post=2400&amp;by=K%F8benhavn+NV</linkNews><numberOfEmployees xsi:type=\"xsd:int\">0</numberOfEmployees><numberOfEmployeesBranch xsi:type=\"xsd:int\">0</numberOfEmployeesBranch><officialName xsi:type=\"xsd:string\">Incremental V/ Jacob Atzen</officialName><parentCompany xsi:type=\"xsd:boolean\">false</parentCompany><phone xsi:type=\"xsd:string\">26256502</phone><statusText xsi:type=\"xsd:string\">Selskabet er i normal drift.</statusText><statusValue xsi:type=\"xsd:int\">0</statusValue><stockQuotation xsi:type=\"xsd:string\" xsi:nil=\"1\"/><street xsi:type=\"xsd:string\">Bygmestervej 47 3 tv</street><subscriptionRules xsi:type=\"xsd:string\" xsi:nil=\"1\"/><tdcId xsi:type=\"xsd:int\">202541543</tdcId><tdfName xsi:type=\"xsd:string\">Jacob Atzen</tdfName><updateDate xsi:type=\"xsd:string\">2012-05-12 22:06:43.413</updateDate><zipCode xsi:type=\"xsd:int\">2400</zipCode></ns0:Company><ns0:KVH id=\"ID2\" xsi:type=\"ns0:KVH\"><houseNo xsi:type=\"xsd:string\">47</houseNo><municipalityCode xsi:type=\"xsd:int\">101</municipalityCode><streetCode xsi:type=\"xsd:int\">984</streetCode></ns0:KVH></env:Body></env:Envelope>"
  recorded_at: Tue, 15 May 2012 10:43:55 GMT
