--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:search env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><Question_1 xsi:type="nne:Question" xmlns:nne="http://com.stibo.net/nne/3.1/Types/NNE"><name xsi:type="xsd:string">Ikea</name></Question_1><int_2 xsi:type="xsd:int">10</int_2><int_3 xsi:type="xsd:int">1</int_3><int_4 xsi:type="xsd:int">0</int_4><String_5 xsi:type="xsd:string"></String_5></wsdl:search></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"search\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:searchResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:searchResponse><ns0:Answer id=\"ID1\" xsi:type=\"ns0:Answer\"><companyBasic href=\"#ID2\"/><errorMessage xsi:type=\"xsd:string\" xsi:nil=\"1\"/><window href=\"#ID3\"/></ns0:Answer><ns0:ArrayOfCompanyBasic id=\"ID2\" xsi:type=\"enc:Array\" enc:arrayType=\"ns0:CompanyBasic[10]\"><item href=\"#ID4\"/><item href=\"#ID5\"/><item href=\"#ID6\"/><item href=\"#ID7\"/><item href=\"#ID8\"/><item href=\"#ID9\"/><item href=\"#ID10\"/><item href=\"#ID11\"/><item href=\"#ID12\"/><item href=\"#ID13\"/></ns0:ArrayOfCompanyBasic><ns0:Window id=\"ID3\" xsi:type=\"ns0:Window\"><currentPage xsi:type=\"xsd:int\">1</currentPage><from xsi:type=\"xsd:int\">1</from><to xsi:type=\"xsd:int\">10</to><total xsi:type=\"xsd:int\">20</total><totalPages xsi:type=\"xsd:int\">2</totalPages></ns0:Window><ns0:CompanyBasic id=\"ID4\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1003624526</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">724796</companyId><companyType xsi:type=\"xsd:string\">VI</companyType><cvrNo xsi:type=\"xsd:int\">50574911</cvrNo><district xsi:type=\"xsd:string\">Taastrup</district><fax xsi:type=\"xsd:string\" xsi:nil=\"1\"/><officialName xsi:type=\"xsd:string\">IKEA A/S</officialName><phone xsi:type=\"xsd:string\">43437500</phone><street xsi:type=\"xsd:string\">M\xC3\xA5rk\xC3\xA6rvej 15</street><tdcId xsi:type=\"xsd:int\">100311293</tdcId><zipCode xsi:type=\"xsd:int\">2630</zipCode></ns0:CompanyBasic><ns0:CompanyBasic id=\"ID5\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1003624599</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">203813</companyId><companyType xsi:type=\"xsd:string\">PL</companyType><cvrNo xsi:type=\"xsd:int\">50574911</cvrNo><district xsi:type=\"xsd:string\">Gentofte</district><fax xsi:type=\"xsd:string\">43590089</fax><officialName xsi:type=\"xsd:string\">Ikea A/S</off[...]
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompanyOwnership env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">100311293</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string"></String_4></wsdl:fetchCompanyOwnership></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompanyOwnership\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://com.stibo.net/nne/3.1/Types/NNE" env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><env:Body><ans1:fetchCompanyOwnershipResponse xmlns:ans1="http://com.stibo.net/nne/3.1/NNE"><result href="#ID1"/></ans1:fetchCompanyOwnershipResponse><ns0:ArrayOfOwnership id="ID1" xsi:type="enc:Array" enc:arrayType="ns0:Ownership[1]"><item href="#ID2"/></ns0:ArrayOfOwnership><ns0:Ownership id="ID2" xsi:type="ns0:Ownership"><country xsi:type="xsd:string">Holland</country><name xsi:type="xsd:string">Ingka Holding Scandinavia Bv</name><share xsi:type="xsd:string">100            </share><tdcId xsi:type="xsd:int">0</tdcId></ns0:Ownership></env:Body></env:Envelope>
  recorded_at: Tue, 15 May 2012 10:44:01 GMT
