--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:search env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><Question_1 xsi:type="nne:Question" xmlns:nne="http://com.stibo.net/nne/3.1/Types/NNE"><name xsi:type="xsd:string">Ikea</name></Question_1><int_2 xsi:type="xsd:int">10</int_2><int_3 xsi:type="xsd:int">1</int_3><int_4 xsi:type="xsd:int">0</int_4><String_5 xsi:type="xsd:string"></String_5></wsdl:search></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"search\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\
        <env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns0=\"http://com.stibo.net/nne/3.1/Types/NNE\" env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><env:Body><ans1:searchResponse xmlns:ans1=\"http://com.stibo.net/nne/3.1/NNE\"><result href=\"#ID1\"/></ans1:searchResponse><ns0:Answer id=\"ID1\" xsi:type=\"ns0:Answer\"><companyBasic href=\"#ID2\"/><errorMessage xsi:type=\"xsd:string\" xsi:nil=\"1\"/><window href=\"#ID3\"/></ns0:Answer><ns0:ArrayOfCompanyBasic id=\"ID2\" xsi:type=\"enc:Array\" enc:arrayType=\"ns0:CompanyBasic[10]\"><item href=\"#ID4\"/><item href=\"#ID5\"/><item href=\"#ID6\"/><item href=\"#ID7\"/><item href=\"#ID8\"/><item href=\"#ID9\"/><item href=\"#ID10\"/><item href=\"#ID11\"/><item href=\"#ID12\"/><item href=\"#ID13\"/></ns0:ArrayOfCompanyBasic><ns0:Window id=\"ID3\" xsi:type=\"ns0:Window\"><currentPage xsi:type=\"xsd:int\">1</currentPage><from xsi:type=\"xsd:int\">1</from><to xsi:type=\"xsd:int\">10</to><total xsi:type=\"xsd:int\">20</total><totalPages xsi:type=\"xsd:int\">2</totalPages></ns0:Window><ns0:CompanyBasic id=\"ID4\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1003624526</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">724796</companyId><companyType xsi:type=\"xsd:string\">VI</companyType><cvrNo xsi:type=\"xsd:int\">50574911</cvrNo><district xsi:type=\"xsd:string\">Taastrup</district><fax xsi:type=\"xsd:string\" xsi:nil=\"1\"/><officialName xsi:type=\"xsd:string\">IKEA A/S</officialName><phone xsi:type=\"xsd:string\">43437500</phone><street xsi:type=\"xsd:string\">M\xC3\xA5rk\xC3\xA6rvej 15</street><tdcId xsi:type=\"xsd:int\">100311293</tdcId><zipCode xsi:type=\"xsd:int\">2630</zipCode></ns0:CompanyBasic><ns0:CompanyBasic id=\"ID5\" xsi:type=\"ns0:CompanyBasic\"><PNo xsi:type=\"xsd:int\">1003624599</PNo><adProtection xsi:type=\"xsd:int\">0</adProtection><companyId xsi:type=\"xsd:int\">203813</companyId><companyType xsi:type=\"xsd:string\">PL</companyType><cvrNo xsi:type=\"xsd:int\">50574911</cvrNo><district xsi:type=\"xsd:string\">Gentofte</district><fax xsi:type=\"xsd:string\">43590089</fax><officialName xsi:type=\"xsd:string\">Ikea A/S</off[...]
- request: 
    method: post
    uri: http://service.nnerhverv.dk/nne-ws/3.1/NNE
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://com.stibo.net/nne/3.1/NNE" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://com.stibo.net/nne/3.1/Types/NNE"><env:Body><wsdl:fetchCompanyFinance env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><int_1 xsi:type="xsd:int">100311293</int_1><int_2 xsi:type="xsd:int">0</int_2><String_3 xsi:type="xsd:string"></String_3><String_4 xsi:type="xsd:string"></String_4></wsdl:fetchCompanyFinance></env:Body></env:Envelope>
    headers: 
      soapaction: 
      - "\"fetchCompanyFinance\""
      content-type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      soapaction: 
      - "\"\""
      content-type: 
      - text/xml; charset="utf-8"
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns0="http://com.stibo.net/nne/3.1/Types/NNE" env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><env:Body><ans1:fetchCompanyFinanceResponse xmlns:ans1="http://com.stibo.net/nne/3.1/NNE"><result href="#ID1"/></ans1:fetchCompanyFinanceResponse><ns0:ArrayOfFinance id="ID1" xsi:type="enc:Array" enc:arrayType="ns0:Finance[5]"><item href="#ID2"/><item href="#ID3"/><item href="#ID4"/><item href="#ID5"/><item href="#ID6"/></ns0:ArrayOfFinance><ns0:Finance id="ID2" xsi:type="ns0:Finance"><accountingDate xsi:type="xsd:string">2011-08-31</accountingDate><assets xsi:type="xsd:float">1729700.0</assets><availableFunds xsi:type="xsd:float">183991.0</availableFunds><availableFundsRatio xsi:type="xsd:float">74.48</availableFundsRatio><balance xsi:type="xsd:float">1729700.0</balance><capacityRatio xsi:type="xsd:float">1.4</capacityRatio><contributionRatio xsi:type="xsd:float">26.02</contributionRatio><creditRating xsi:type="xsd:string" xsi:nil="1"/><currentAssets xsi:type="xsd:float">770605.0</currentAssets><depreciations xsi:type="xsd:float">-37525.0</depreciations><fixedAssets xsi:type="xsd:float">959095.0</fixedAssets><fixedCost xsi:type="xsd:float">562808.0</fixedCost><grossProfit xsi:type="xsd:float">789841.0</grossProfit><incomeBeforeIncomeTax xsi:type="xsd:float">188944.0</incomeBeforeIncomeTax><linkPDF xsi:type="xsd:string">http://www.nnerhverv.dk/nne-perl/regnskab.pl?indid=724796&amp;udtid=2012-01-16&amp;req=1841993994</linkPDF><longTermedLiability xsi:type="xsd:float">488133.0</longTermedLiability><lotsAndSites xsi:type="xsd:float">162650.0</lotsAndSites><netOutcome xsi:type="xsd:float">132718.0</netOutcome><numberOfEmployees xsi:type="xsd:int">1222</numberOfEmployees><placings xsi:type="xsd:float">38837.0</placings><profit xsi:type="xsd:float">130000.0</profit><profitForTheYear xsi:type="xsd:float">132718.0</profitForTheYear><profitRatio xsi:type="xsd:float">7.48</profitRatio><publishedDate xsi:type="xsd:string">2012-01-16</publishedDate><returnOnAssets xsi:type="xsd:float">13.13</returnOnAssets><shareHoldersFundsOfInterest xsi:type="xsd:float">78.96</shareHoldersFundsOfInterest><shareholdersFunds xsi:type="xsd:float">168073.0</shareholdersFunds><shortTermedLiability xsi:type="xsd:float">1034657.0</shortTermedLiability><solvencyRatio xsi:type="xsd:float">9.72</solvencyRatio><stock xsi:type="xsd:float">136101.0</stock><tradeDebitors xsi:type="xsd:float">23232.0</tradeDebitors><turnover xsi:type="xsd:float">3034952.0</turnover><year xsi:type="xsd:string">2011</year></ns0:Finance><ns0:Finance id="ID3" xsi:type="ns0:Finance"><accountingDate xsi:type="xsd:string">2010-08-31</accountingDate><assets xsi:type="xsd:float">1616556.0</assets><availableFunds xsi:type="xsd:float">184758.0</availableFunds><availableFundsRatio xsi:type="xsd:float">78.66</availableFundsRatio><balance xsi:type="xsd:float">1616556.0</balance><capacityRatio xsi:type="xsd:float">1.33</capacityRatio><contributionRatio xsi:type="xsd:float">24.26</contributionR[...]
